<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block newsletter">
    <div class="title"><strong>Newsletter</strong></div>
    <div class="content">
        <form class="form subscribe" novalidate
            action="<?php /* @escapeNotVerified */echo $block->getFormActionUrl() ?>" method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}' id="newsletter-validate-detail">
            <div class="field newsletter">
                <label class="label"
                    for="newsletter"><span><?php /* @escapeNotVerified */echo __('Sign Up for Our Newsletter:') ?></span></label>
                <div class="control">
                    <input class="subscribe-input" name="email" type="email" id="newsletter"
                        placeholder="<?php /* @escapeNotVerified */echo __('Enter your Email Address') ?>"
                        data-validate="{required:true, 'validate-email':true}" />
                </div>
            </div>
            <div class="actions subscribe" id="subs">
                <button class="action btn-default icon-right primary"
                    title="<?php /* @escapeNotVerified */echo __('') ?>" type="submit">
                    <span><?php /* @escapeNotVerified */echo __('') ?></span>
                </button>
            </div>
        </form>
    </div>
</div>